page-home {

    #logButt{
        left: 20%;
        width: 200px;
    }

    #kelabu{
        background-color: gray;
    }

    #signupText{
        text-align: center;
        font-size:15px;
    }
}
