page-page-2 {
    .greenButton{
        background-color: #66ff66;
        height:100px;
        width: 325px;
    }
    
    .orangeButton{
        background-color: orangered;
        height: 200px;
        width: 180px;
    }
    
    .tealButton{
        background-color: teal;
        height: 95px;
        width: 140px;
    }
    
    .violetButton{
        background-color: violet;
        height: 95px;
        width: 140px;
    }
    
    .blueButton{
        background-color: lightseagreen;
        height: 200px;
        width: 200px;
    }
    
    .redButton{
        background-color: red;
        height: 200px;
        width: 114px;
    }

    #confirmButton{
       position: absolute; 
       left: 39%;
    }

}
